USE [master]
GO
/****** Object:  Database [Fast Food Randomizer DB]    Script Date: 6/27/2018 11:29:12 AM ******/
CREATE DATABASE [Fast Food Randomizer DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fast Food Randomizer DB', FILENAME = N'D:\Program Files\MSSQL14.SQLEXPRESS\MSSQL\DATA\Fast Food Randomizer DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fast Food Randomizer DB_log', FILENAME = N'D:\Program Files\MSSQL14.SQLEXPRESS\MSSQL\DATA\Fast Food Randomizer DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fast Food Randomizer DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fast Food Randomizer DB]
GO
USE [Fast Food Randomizer DB]
GO
/****** Object:  Table [dbo].[AddedFastFoodChains]    Script Date: 6/27/2018 11:29:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddedFastFoodChains](
	[FastFoodChains] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FastFoodChains]    Script Date: 6/27/2018 11:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FastFoodChains](
	[FastFoodChains] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert]    Script Date: 6/27/2018 11:29:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_insert]
	@FastFoodChains varchar(50)

AS
	INSERT INTO [FastFoodChains] (FastFoodChains)
	Values (@FastFoodChains)
GO
USE [master]
GO
